body                { font-family: sans-serif; background: #eee; }
a,h1,h2             { color: #377ba8; }
h1, h2, p           { font-family: 'Georgia', serif; margin: 0; }
h1                  { border-bottom: 2px solid #eee; font-size: 2.4em }
h2                  { font-size: 1.8em; }
p                   { font-size: 1.4em; color:#444 }
a                   { text-align:center }
fieldset	    { height:250px }

.page           { margin: 2em auto; width: 60em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.metanav        { font-size: 0.8em; padding:0.3em; margin-bottom: 1em;
                  background: #fafafa; text-align:justify; position:relative 
                  width:100% }
.centered       { display:inline-block; text-align: center }
.stretch        { display:inline-block; width:100% }

.left           { float:left }
.right          { float:right }
.left,.right	{ width: 50%; } 

.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; color:#000; font-family: sans-serif; font-size:1em}
.bold_elements, 
    li          { color:#222; margin-bottom:1.2em }
.explanation h2 { border-bottom:1px solid #ddd; padding-top:1em; padding-bottom; 1em; }
