{% extends 'layout.html' %}
{% block body %}
<div class=post>
<h2 style='border-bottom:2px solid #ccc'>Installing Flask and Python</h2><br>
Hi future programmers! If you plan on coming to our first meeting (<strong>102 WVG 7-9 PM on Thu, Jan 23</strong>), 
PLEASE try to have Python and Flask installed on your computer before you come. If you have ANY problems at all, 
don't hesitate to reach out to <a href='mailto:imadeitnortheastern@gmail.com'>us</a>, or coming to the first meeting a bit early. 
<br><br><br>
<h3>MAC/LINUX</h3>
You most likely already have Python 3.3 on your computer. To check, open the application browser, type in 
"terminal" and run the application displayed. In the application, type the word "python" (no quotes) and 
hit enter. If you see some text describing a python version, and the blinking cursor is in front of 
three "greater-thans" (>>>) than you can skip to installing Flask.
<br><br>
<strong>Installing Python</strong><br>
<em>Python is the programming language we will be using through out the course.</em>
<br><br>
First download<a href=http://www.python.org/ftp/python/3.3.3/python-3.3.3-macosx10.6.dmg>Python 3.3</a><br>
Once the file has been 
downloaded, open the file and run the installer, following the on-screen instructions to complete installation. 
<br><br>
<strong>Installing Flask</strong><br>
<em>Flask is the web-framework we will be using; it is a python program that has lots of tools that make it 
supa easy to build cool websites.</em>
<br><br>
Follow <a href=http://flask.pocoo.org/docs/installation/#installation>these</a>instructions to install Flask and Virtualenv.
When it asks you to run commands, you can do this by opening the application browser, typing in "terminal" 
and running the application displayed, as above. Any command can simply be typed into the application that opens. 
<br><br>
That's it, you're done! See you at iMadeIT!
<br><br><br>
<h3>WINDOWS</h3>
First download <a href='http://www.python.org/ftp/python/3.3.3/python-3.3.3.amd64.msi'>Python 3.3</a>
<br><br>
Python is the programming language we will be using through out the course. Once the file has been 
downloaded, open the file and run the installer, following the on-screen instructions to complete installation. 
<br><br>
Once Python has been successfully installed, follow 
<a href='http://flask.pocoo.org/docs/installation/#pip-and-distribute-on-windows'>these</a> instructions to 
install easy_install, and then follow <a href=http://flask.pocoo.org/docs/installation/#installation>these</a>
instructions to get Virtualenv, and Flask.
<br><br>
When it asks you to run text commands, you can do this by pressing the Windows key and typing "cmd" or 
"command prompt", which should narrow the search to only the command prompt. Instead of just pressing enter, 
press Ctrl-Shift-Enter to run it with admin privileges. Any command can simply be typed into the application that opens.
<br><br>
Flask is the web-framework we will be using; it is a python program that has lots of tools that make it supa easy to 
build cool websites.
<br><br>
That's it, you're done! See you at iMadeIT!
</div>
{% endblock %}
