{% extends "layout.html" %}
{% block body %}
<h1><img src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR45eIXxBH6F3dYftCUEFffgxWaJpIZhgMn_pq6tsuB_nTCGPSv9A'></h1>
{% if session.port %}
    <div style='height:50px'></div>
    <p>Your port number is <strong>{{ session.port }}</strong></p>
{% else %}
    <form action="{{ url_for('port_authority') }}" method=post>
        <dt>Select a port number from 5000 to 9999</dt>
        <dd><input type=text name=port></dd>
        <dd><input type=submit value="Gimme My Port, Dagnabbit!"></dd>
    </form>
{% endif %}
{% if session.partner %}
    <div style='height:50px;width:100%'></div>
    <p>Your partner's port number is <strong>{{ session.partner }}</strong></p>
{% else %}
    <div style='height:50px;width:100%'></div>

    <form action="{{ url_for('find_partner') }}" method=post>
       <dd><input type=submit value="Gimme a partner!"></dd>
    </form>
{% endif %}




<div class=explanation>
<h2>What's a Port?</h2><br>
Imagine a computer's IP address is its phone number and the port is like an extension. Just like an 
office can have one phone number and hundreds of extensions to reach individual employees, we are using 
iMadeIT's IP as the base phone number, and giving you each an extension. This way, whenever you want to 
show off what you're working on, you can just point your friends to imadeit.nu:<em>your port number</em>
<br><br>
<h2>How Do I Access My Port?</h2><br>
<strong><em>Mac/Linux</em></strong><br>
You can start by firing up a terminal shell by searching your applications for 'terminal'. In the window
that opens simply type 
<br><br><code>ssh your_user_name@imadeit.nu</code><br><br> 
When it asks you for a password, simply type your password for this site. Any further authorization 
questions you can answer simply by typing 'yes' and pressing enter. <br><br>
That's it! You're in! You can get a Flask app up and running by creating a Flask file like we'll describe
in class, but the last line should look like:<br><br>
<code>app.run(host='0.0.0.0', port=your_port_number_here)</code>
<br><br><br>
<strong><em>Windows</em></strong><br>
If you have Windows, you can will need to install 
<a href='http://the.earth.li/~sgtatham/putty/latest/x86/putty-0.63-installer.exe'>PuTTy</a>
 or some other SSH client on your computer.<br><br>
In the address field you should type your_user_name@imadeit.nu and leave the port set to 22 (this is the
port on computers that listen for SSH connections) and click connect. <br><br>
That's it! You're in! You can get a Flask app up and running by creating a Flask file like we'll describe
in class, but the last line should look like:<br><br>
<code>app.run(host='0.0.0.0', port=your_port_number_here)</code>
</div>
{% endblock %}
