{% extends "layout.html" %}
{% block body %}
<h2>Source Code</h2>
<img src='/static/imgs/github.png' height=120 style='padding-left:100px'>
<br><br>
<h3><a href='https://github.com/jamesmcnamara/iMadeIT/blob/master/syntax_ref.py'>Python Syntax Reference</a></h3>
<br><br>
<h3><a href='https://github.com/jamesmcnamara/iMadeIT/tree/master/imadeit_website'>Source Code for This Website</a></h3>
<br><br>
<h3><a href='https://github.com/jamesmcnamara/iMadeIT/tree/master/postr'>Simple Flask App</a></h3>
{% endblock %}
